<div class="layout-wrapper">
  <div class="layout-wrapper__infos">
    {% if component.title is defined %}
      <div class="layout-wrapper__title">
        {{ component.title }}
      </div>
    {% endif %}
    {% if component.text is defined %}
      <div class="layout-wrapper__description markdown">
        {{ global.marked(component.text) }}
      </div>
    {% endif %}
  </div>
  <div class="layout-wrapper__widget">

    {% set code %}{{ component.code }}{% endset %}

    {% if component.syntax is defined %}
      {% set syntax %}{{ component.syntax|lower }}{% endset %}
    {% else %}
      {% set syntax %}markup{% endset %}
    {% endif %}

    <div class="layout-wrapper__container">
      <div class="layout-wrapper__grid">
        {% include 'iframe.twig' with { 'component': component, 'selector': 'layout-wrapper__iframe' } %}
      </div>
    </div>

    <div class="code" data-clipboard-target="#snippet-{{ loop.index }}">
      <div class="code__info">
        <div class="code__clipboard" data-text-success="{{ metadata.clipboard.success }}" data-text-error="{{ metadata.clipboard.error }}">{{ metadata.clipboard.default }}</div>
        <div class="code__syntax">{{ syntax }}</div>
      </div>
      <pre class="code__preview">{{ global.prism.highlight(code, global.prism.languages[syntax], syntax)|trim }}</pre>
      <textarea id="snippet-{{ loop.index }}" class="code__source">{{ code|trim }}</textarea>
    </div>
  </div>
</div>
